{% extends 'app/basic.html' %}

{% block body %}
  <div class="container ">
    <div class="row p-2">
      
      {% for h in questions %}
      <div class="col-sm-6 p-2 mt-3">
        <div class="card shadow p-3 me-3 mb-5 bg-body rounded">
          <div class="card-body ">
            <h5 class="card-title fw-bold fs-3">{{ h.head }}</h5>
            <p class="card-text">{{ h.topic_tag }}</p>
            <a href="{% url 'question' h.id  %}" class="btn btn-secondary">View</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock body %}
